@model IList<AngelHack.ViewModels.SpaceViewModel>


<table class="table" style="border:0">

    @for (int i = 0; i < Model.Count; i++)
    {

        <tr>
            <td align="center">
                <img src=@Html.DisplayFor(modelItem => Model[i].ImageUrl) height="200" /> <br />
                @Html.DisplayFor(modelItem => Model[i].Title)<br />
                @if (Model[i].IsAvailable != 0)
                {
                    <p class="alert-danger">Booked!!!</p>
                }
                else
                {
                    @Html.ActionLink("Booking", "AddBooking", new { id = Model[i].Id })
                }
                @(i = i + 1)
            </td>
            @if (i < Model.Count)
            {
                <td align="center">
                    <img src=@Html.DisplayFor(modelItem => Model[i].ImageUrl) height="200" /> <br />
                    @Html.DisplayFor(modelItem => Model[i].Title)<br />
                    @if (Model[i].IsAvailable != 0)
                    {
                        <p class="alert-danger">Booked!!!</p>
                    }
                    else
                    {
                        @Html.ActionLink("Booking", "AddBooking", new { id = Model[i].Id })
                    }
                    @(i = i + 1)
                </td>
            }

            @if (i < Model.Count)
            {
                <td align="center">
                    <img src=@Html.DisplayFor(modelItem => Model[i].ImageUrl) height="200" /> <br />
                    @Html.DisplayFor(modelItem => Model[i].Title)<br />
                    @if (Model[i].IsAvailable != 0)
                    {
                        <p class="alert-danger">Booked!!!</p>
                    }
                    else
                    {

                        @Html.ActionLink("Booking", "AddBooking", new { id = Model[i].Id }, new { @class = "myadd" })
                    }
                </td>
            }
        </tr>
    }

</table>

<div id="AddBooking" style="display:none"></div>

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            var DialogEdit = function () {
                ("#AddBooking").show();
                this.showDialog = function (url) {
                    $("#AddBooking").dialog({
                        autoOpen: true,
                        width: "600",
                        resizable: false,
                        title: "Confirmation",
                        modal: true,
                        closeText: "X",
                        dialogClass: 'alert',
                        position: {
                            my: "center",
                            at: "top+150"
                        },
                        closeOnEscape: true,
                        open: function () {
                            $(this).load(url);
                        },
                        buttons: {
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
                this.closeDialog = function () {
                    $(this).dialog("close");
                }
            }

            $(".myadd").on("click", function (e) { // click event for the edit hyperlink
                dialogEdit = new DialogEdit();
                url = $(this).attr('href');
                dialogEdit.showDialog(url);
                e.preventDefault(); // cancel the click event
                return false;
            });
        });

    </script>
}



