@model AngelHack.Models.MainVM

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>

@section Sidebar{

    @using (Ajax.BeginForm("MainAJAX", "Booking", Model.locationSelected + Model.StudioTypeselected, new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get",
        OnFailure = "MainLoadFailure",
        AllowCache = false,
        LoadingElementId = "",
        UpdateTargetId = "divMain",
    }))

    {
        @Html.AntiForgeryToken()

        <div class="form-group">

           
            <div style="margin-left:15px;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                time filter

                <hr />
                <div class="navbar-collapse collapse">
                    @Html.LabelFor(model => model.locationSelected, htmlAttributes: new { @class = "control-label" })

                    @foreach (var location in Model.locationList)
                    {
                        <ul class="nav navbar-nav">
                            <li>
                                @Html.RadioButtonFor(g => g.locationSelected, @location)@Html.Label(@location.Text)
                                @Html.ValidationMessageFor(model => model.locationSelected, "", new { @class = "text-danger" })
                            </li>
                        </ul>
                    }


                </div>
                <hr />
                <div class="navbar-collapse collapse">
                    @Html.LabelFor(model => model.StudioTypeselected, htmlAttributes: new { @class = "control-label" })
                    @foreach (var location in Model.StudioTypeList)
                    {
                        <ul class="nav navbar-nav">
                            <li>
                                @Html.RadioButtonFor(g => g.StudioTypeselected, @location)@Html.Label(@location.Text)
                                @Html.ValidationMessageFor(model => model.StudioTypeselected, "", new { @class = "text-danger" })
                            </li>
                        </ul>
                    }

                </div>
            </div>
            <!--
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Welcome", "Welcome", "Home")</li>
                </ul>
            </div>
                -->
        </div>
    }
}
<div class="form-group" id="divMain">
    @{
        Html.RenderPartial("_Main", Model.mainList);
    }
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            $("#locationSelected").change(function () {
                var test = document.getElementById("locationSelected");
                alert(test.options[test.selectedIndex].text);
                $(this).closest('form').submit();
            })
        });

        $(function () {
            $("#StudioTypeselected").change(function () {
                var test = document.getElementById("StudioTypeselected");
                alert(test.options[test.selectedIndex].text);
                $(this).closest('form').submit();
            })
        });

        function MainLoadFailure(response) {
            $("#divStatus").html("Problem loading data....");
        }
    </script>

}
