@model AngelHack.ViewModels.BookingViewModel
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Main</h2>
@section Sidebar{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div style="margin-left:15px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <hr />            
            <b-form-slider v-model="sliderValue" :min="6" :max="22" trigger-change-event></b-form-slider>
            <p v-if="sliderValue < 13" style="text-align:center;">{{sliderValue}} AM</p>
            <p v-else style="text-align:center;"> {{sliderValue-12}} PM</p>            
            <hr />
            <div class="navbar-collapse collapse">
                @Html.LabelFor(model => model.locationSelected, htmlAttributes: new { @class = "red" })
                <br />
                @foreach (var location in Model.locationList)
                {
                    <div class="form-check">
                        <label>
                            <input type="radio" name="Location" checked="" v-model="LocationValue" v-on:change="fChanged" value="@location.Value"> <span class="label-text">
                                @location.Text
                            </span>
                        </label>
                    </div>
                }
            </div>
            <hr />
            <div class="navbar-collapse collapse">
                @Html.LabelFor(model => model.StudioTypeselected, htmlAttributes: new { @class = "red" })
                <br />
                @foreach (var studio in Model.StudioTypeList)
                {
                    <div class="form-check">
                        <label>
                            <input type="radio" name="Studio" checked="" v-model="StudioValue" v-on:change="fChanged" value="@studio.Value"> <span class="label-text">
                                @studio.Text
                            </span>
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="form-group" id="divMain">
    @{ Html.RenderPartial("_Main", Model.mainList); }
</div>